/* reset style */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background Styles */

html {
    background: url(images/cherry-blossom-branch.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: scroll;
}

body {
    height: 100%;
}

/* Navigation Styles */

.navlogo {
    width: 75px;
    margin-left: 1em;
    margin-top: 10px;
}

.navbar {
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow:
    0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3); 
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-top: 1.5em;
    margin-right: 1em;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
    color: whitesmoke;
}


.navlist {
    list-style-type: none;
}

.navlist .navlinks {
    display: inline-block;
    padding: 30px 10px;
}

/* Hamburger Menu Icon */

.menu {
    display: none;
}

.menu-line {
    width: 30px;
    height: 4px;
    background-color: black;
    margin-bottom: 4px;
}



/* Footer Styles */

footer {
    
    position: relative;
    text-align: center;
    margin-top: auto;
    top: 20% ;

}

/*  Mobile Styles */

@media (max-width: 640px) {

    /* nav styles */

    .navbar {
        flex-direction: column;
        position: relative;
    }

    .navbar .logo-container {
        width: 100%;
    }

    .navlist {
        list-style-type: none;
        width:100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .menu {
        display: block;
        position: absolute;
        right: 25px;
        top: 30px;
    }

    .navlist .navlinks {
        display: block;
        border-top: 1px solid white;
    }

    .navlogo {
        margin-top: 10px;
        margin-left: 10px;
    }

    .active {
        display: block;
    }
}
