/* Grid Styles */

.grid-container {
    display: grid;
    gap: 20px;
    height: 90vh;
    grid-template-columns: 1fr 4fr;
}

/* Comments */

.comments {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

.comments > blockquote {
    font-size: 1em;
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
    height: 20%;  
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgba(255, 255, 255, 0.5),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3); 
}

@media (max-width: 990px)
{
    .comments {
        display: none;
    }

    .grid-container {
        display: block;
    }

    .cta {
        margin-top: 25%;
    }

}



/* CTA Styles */

.cta {
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    
}

.cta h1 {
    font-size: 3.5em;
    width: 50%;
    align-self: center;
}

.cta h2 {
    font-size: 2em;
}

.cta > img {
    width: 250px;
    align-self: center;
}

.cta > button {
    border-style: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 2em;
    width: 200px;
    height: 50px;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

.cta > button:hover {
    background-color: rgba(255, 255, 255, .5);
    color: black;
}