/* reset style */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background Styles */

html {
    background: url(images/cherry-blossom-branch.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: scroll;
}

/* Navigation Styles */

.navlogo {
    width: 75px;
    margin-left: 1em;
    margin-top: 10px;
}

.navbar {
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-top: 1em;
    margin-right: 1em;
}

.navbar a:hover {
    color: whitesmoke;
}


.navlist {
    list-style-type: none;
}

.navlist .navlinks {
    display: inline-block;
    padding: 20px 10px;
}

/* Hamburger Menu Icon */

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 4px;
}

/* Grid Styles */

.grid-container {
    display: grid;
    gap: 20px;
    height: 90vh;
    grid-template-columns: 1fr 4fr;
}

/* Comments */

.comments {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    height: 200px;
    background-color: rgba(255, 255, 255, .5);
}

/* CTA Styles */

.cta {
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
}

.cta h1 {
    font-size: 3em;
}

.cta > img {
    min-width: 20%;
    align-self: center;
}

.cta > button {
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 2em;
    width: 200px;
    height: 50px;
    align-self: center;
}

.cta > button:hover {
    background-color: rgba(255, 255, 255, .5);
    color: black;
}

/* Footer Styles */

footer {
    text-align: center;
    font-size: 20px;
    
}

/*  Mobile Styles */

@media (max-width: 640px) {

    /* nav styles */

    .navbar {
        flex-direction: column;
        position: relative;
    }

    .navbar .logo-container {
        width: 100%;
    }

    .navlist {
        list-style-type: none;
        width:100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .menu {
        display: block;
        position: absolute;
        right: 10px;
        top: 15px;
    }

    .navlist .navlinks {
        display: block;
        border-top: 1px solid white;
    }

    .navlogo {
        margin-top: 10px;
        margin-left: 10px;
    }

    .active {
        display: block;
    }
}
